body {
    background: linear-gradient(to right top, #051937, #00a9b9), url("https://img.pngio.com/shenron-dragon-ball-goku-king-piccolo-z-vector-png-download-shenron-png-900_620.jpg") fixed center;
   background-blend-mode: difference;
   background-repeat: repeat;
   font-family: Comic Sans MS;
   text-align: center;
   letter-spacing: .03em;
 }
 img {
   max-width: 100%;
   display: block;
   height: auto;
   align-self: center;
   margin: 0 auto;
   border-color: white;
   border-width: 5px;
   border-style: Solid;
   border-radius: 10px;
   box-shadow: 0px 0px 10px navy;
 }
 main {
 background-image: linear-gradient(to right top, #fb9a5b, #ff8c81, #ff89a9, #e890cb, #c19be1, #a6a8f0, #87b4f8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
   margin: 5%;
   box-shadow: 0px 0px 100px gold;
 }
 .backgroundImg {
     background-image: url("https://i.dlpng.com/static/png/6853345_preview.png");
   background-repeat: no-repeat, no-repeat;
 }
 h1{
   color: white;
   text-shadow: 0px 0px 5px black;
   background-color: gold;
   border-color: black;
   border-width: 1px;
   border-style: solid;
   margin: 5%;
   font-weight: bold; 
   letter-spacing: .05em;
   padding: 1% 1% 1% 1%;
 }
 h2{
   color: black;
   text-shadow: 0px 0px 10px yellow;
   padding: 1% 1% 1% 1%;
 }
 h3 {
   color: white;
   text-shadow: 0px 0px 10px black;
   padding: 1% 1% 1% 1%;
 }
 #tribute-info {
   color: black;
   position: relative;
   box-shadow: 0px 0px 20px blue;
   display: flex;
   align-items: center;
   background-color: #ccccb3;
   border-color: gold;
   border-width: 2px;
   border-style: Solid;
   margin: 5%;
 }
 p {
   font-size: 1em;
   line-height: calc(1ex / 0.32);
   margin: 1%;
   text-shadow: 0px 0px 5px powderblue;
   padding: 1%;
 }
 .pulse {
   animation-name: colorPulse;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate;
 }
 @keyframes colorPulse {
    0% {box-shadow: 0px 0px 0px transparent;}
    100% {box-shadow: 0px 0px 200px yellow;}
}
 @-webkit-keyframes colorPulse {
     0% {box-shadow: 0px 0px 0px transparent;}
     100% {box-shadow: 0px 0px 200px yellow;}
 }