
.box {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -10;
  overflow:hidden;

}
.box b {
  border-radius: 50%;
  z-index: 1;
  position: absolute;
overflow: hidden;
  animation: moveX 15.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;

}

.ball{
  width: 80px;
  height: 80px;
background: transparent;
filter: opacity(75%);
backdrop-filter: drop-shadow(0 0 1vw black) ;
}


@keyframes moveX {
  from { left: 0; transform:rotate(0deg); } to { left: 90vw; transform:rotate(720deg);  }
}

@keyframes moveY {
  from { top: 0;} to { top: 100%; }
}

