@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

body {
  background-image: linear-gradient(to top, #ff0000, #ff5000, #ff7500, #ff9400, #ffb000, #eec511, #dbd72e, #e8e54d, #7bf2f2, #79f4f8, #5ebcfb, #00a2ff);
  font-family: 'Quicksand', sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   align-self: flex-start;
   width: 100%;

 }

 .image {
   align-self: center;
   height: 150vw;
   margin: 0;
   padding-left: 8vw;
   background: transparent;
   margin: 0;
   filter: drop-shadow(0 0 25vw rgb(251, 255, 0));
 }


.navbar{
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
}

footer{
    height: 40vw;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 1vw;
    background: white;
    position: static;
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;

}
#tribute-link{
  text-decoration: none;
  color: black;
  font-size: 5vw;
  display: flex;
  flex-direction: column;

  background: white;
  width: 100%;
}

.header-img{
  width: 14vw;
  float: left;
  padding: 0;
  margin: 0.5vw;
}

.footer-img{
  width: 30vw;
  float: center;
  Justify-self: right;
  padding: 0;
  margin: 0.5vw;
}

.nimbus{
  align-self: center;
  padding: 1vw;
  margin: 1vw;
  max-width: 100vw;
}

 h1{
   display: flex;
   font-size: 5vw;
   background-image: url(/images/goku\ glow\ text.jpg);
   background-position: 0px 0px;
   background-clip: text;
   background-size: cover;
   -webkit-background-clip: text;
   -webkit-text-fill-color: #0000;
   font-weight: bold; 
   letter-spacing: 1vw;
   line-height: 1.5;
   margin-block-start: 40vw;
   margin-bottom: 1vw;
   padding: 10% 0;
   font-family: 'Luckiest Guy', cursive;
   font-size: 11vw;
   align-self: center;
   font-weight: bold 700;
 }

 h2{
   
   margin: 20% 0;
   color: rgb(255, 0, 0);
   padding: 2vw;
   text-shadow: 0 0 1vw rgb(0, 73, 102);
   font-size: 8vw;
   background: white;
 }

 h3 {
  text-shadow: 0 0 1vw rgb(0, 183, 255);

  margin: 20% 0;
   color: white;
   font-size: 5vw;
   margin-top: 1vw;
 }

 .tribute-info {
   color: black;
   position: relative;
   display: flex;
   background-color: transparent;
   margin: 3vw 0;
   padding:5vw 5vw;
   background: white;
   flex-wrap: wrap;
   flex-direction: column;
 }

 p {
   text-justify: newspaper;
   text-align: justify;
   font-size: 4.3vw;
    line-height: 2;
   margin: 2vw;
   text-shadow: 0px 0px 5px powderblue;
   padding: 2vw;
 }


